body{
  display: flex; 
  padding-top: 15%;
  flex-direction: column;
  font: 1em sans-serif;
  margin: 0 20%;
}

span{
  background-color: antiquewhite;
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.spiderman{
  position: absolute;
  top: auto;
  margin: 0 20%;
  display: none;

}

.avengers{
  position: absolute;
  top: auto;
  margin: 0 20%;
  display: none;
}

.inception{
  position: absolute;
  top: auto;
  margin: 0 20%;
  display: none;
}

.item{
  justify-content: center;
}

.list{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}